# Data folder
/data

# Model outputs
/notebooks/checkpoints
/notebooks/GAN_checkpoints
/notebooks/GAN_checkpoints_10_epochs

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# .DS_Store (macOS file system metadata)
.DS_Store

# Jupyter Notebook specific files
*.ipynb_checkpoints/

# Data files (if you're not using a data folder to track datasets)
data/
*.csv
*.tsv
*.json
*.h5
*.npy

# Log files
*.log

# Output from Jupyter (e.g. plots, figures, etc.)
*.png
*.jpg
*.jpeg
*.pdf
*.svg
*.gif

# Python packages and other common directories
*.egg
*.egg-info/
dist/
build/
